{% extends 'base.html' %}
{% block content %}
<div class="uk-cover-container uk-height-medium" id="head">
    <video autoplay loop muted playsinline uk-cover >
        <source src="/media/bg.mp4" type="video/mp4">
    </video>
    <div class="content">
        <h1><i>Product Details</i></h1>
    </div>
</div>

<div class="uk-cover-container uk-margin-top" >
    {% for i in product %}
    <div class="card" style="width:400px">
        <img class="card-img-top" src="/media/{{i.image}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ i.name }}</h4>
          <p class="card-text">{{ i.price }}</p>
        </div>
      </div>
    {% endfor %}  
</div>
{% endblock %}